<app-nav-bar></app-nav-bar>
<body>
    <div class="container py-3" style="margin-top:100px;">
        <div class="table-responsive">
            <h4 class="d-flex justify-content-between align-items-center mb-3" style="color:rgb(255, 255, 255)">
                <span class="text-muted">RESULTADOS GENERALES </span>
            </h4>
      <app-listado-resultados [listadoJuegosRecibidos]="juegos" ></app-listado-resultados>
        </div>
    </div>
    <!--div class="container py-3" style="margin-top:100px;">
        <div class="table-responsive">
            <h4 class="d-flex justify-content-between align-items-center mb-3" style="color:#fff">
                <span class="text-muted">MIS RESULTADOS</span>
            </h4>
            <app-listado-resultados [listadoJuegosRecibidos]="juegosUsuario" ></app-listado-resultados>
        </div>
    </div-->
  
</body>
