<app-nav-bar></app-nav-bar>
<br>
<div class="games">
    <h2>Juegos</h2>

    <div class="cardBx">
    <div class="card" data-item="pc">
        <img src="./../../../assets/ahorcado/ahorcado.jpg">
        <div class="content">
    <h4>Ahorcado</h4>
    <div class="progress-line"><span></span></div>
    <div class="info">
    <a href="../ahorcado/">Jugar ahora</a>
    </div>
    </div>
        </div>
    
    
        <div class="card" data-item="pc">
            <img src="./../../../assets/mayor-menor/cartas.jpg">
            <div class="content">
        <h4>Mayor o menor</h4>
        <div class="progress-line"><span></span></div>
        <div class="info">
        <a href="../mayor-menor/">Jugar ahora</a>
        </div>
        </div>
            </div>
            <div class="card" data-item="pc">
                <img src="./../../../assets/preguntados/preguntados.jpg">
                <div class="content">
            <h4>Preguntados</h4>
            <div class="progress-line"><span></span></div>
            <div class="info">
            <a href="../preguntados/">Jugar ahora</a>
            </div>
            </div>
                </div>
                <div class="card" data-item="pc">
                    <img src="./../../../assets/dinosaurio/uno.png">
                    <div class="content">
                <h4 style="font-size:23px">Rescata al dinosaurio</h4>
                <div class="progress-line"><span></span></div>
                <div class="info">
                <a href="../juego-propio/">Jugar ahora</a>
                </div>
                </div>
                    </div>
    </div>