<app-nav-bar></app-nav-bar>
  
<body class="bg-img">
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <!-- Icon -->
      <div class="fadeIn first">
      </div>
      <!-- Login Form -->
      <form class="form-login">
        <div class="frm">
        <div class="perfil">
        <img src="assets/yo.jpg"> 
       
    </div>
        <div class="exp-juego"> 
          <h2 style="font-size:24px ;">
            TRABAJO PRÁCTICO N°1.<br>
            Agustina Carazo.<br>
            División: 4°A.<br>
          </h2>
            <br><br> 
            <div class="texto" style="display: inline-block; text-align: left; margin-right:50px"> 
         <h3 style="text-align: center;  text-transform: uppercase; margin-left: 64px; font-size: 15px; color:rgb(255, 255, 255)">¡Rescata al dinosaurio!</h3><br>
         <p style="text-align: center; font-size: 15px;">
            ¡Ayuda al dinosaurio a que no choque con los obstáculos y acumula puntos! Utiliza el mouse
            para poder saltar. Cada obstáculo que logres atravesar te dara un punto. Si te chocas con 
            algún obstaculo el juego terminara. 
            </p>
          </div>
        </div>

        <div class="login">
    </div>
    <input type="submit" (click)="navegarAJuego()"  value="Iniciar juego">
    <div class="password_forgot">
    </div>
      <!--p fill="clear" class="ion-no-padding" >¿No tienes una cuenta?</p>
      <button href="/registro">Regístrate</button-->
  </div>
  <br>
</form>
     
    </div>
  </div>
  <footer><br><br><br></footer>
</body>

  