<app-nav-bar></app-nav-bar>
<div class="contenedor" style=" margin-top: 100px;"(mousedown)="Saltador()">

    <div class="mensaje-juego" [hidden]="juegoIniciado">
      <div class="iniciar-juego">Rescata al dinosaurio</div>
      <button type="button"  (click)="Start()">Iniciar juego</button>
    </div>
  
    <div class="mensaje-juego" *ngIf="juegoIniciado === true && gameOver === true">
      <div class="game-over">¡Has perdido!<br>Puntaje: {{puntaje}}</div>
      <button type="button"  (click)="Start()">Intentar nuevamente</button>
    </div>
  
    <div class="suelo" [style]="'left:'+sueloLeft+'px'"></div>
  
    <div [classList]="'dino '+claseDino" [style]="'bottom:'+dinoPosY+'px'"></div>
  
    <div class="score">{{puntaje}}</div>
  
    <div class="obstaculos" *ngFor="let obstaculo of obstaculos">
      <div class="cactus" [style]="'left:'+obstaculo.posX+'px'"></div>
    </div>
  </div>
  